.feature {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 72px 168px;
  background-color: rgba(255, 255, 255, 1);
  &-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    flex-wrap: wrap; 
  }  
}


.feature-box {
  background: #fff;
  transition: transform 0.2s ease;
  width: calc(25% - 36px); // 4 cột là 25% mỗi khoảng trắng là 48px có 3 khoảng trắng (48*3) / 4 sau đó lấy 25% - đi là đc//
  gap: 12px;
  display: flex;
  flex-direction: column;
  &:hover {
    transform: translateY(-5px);
  }

  .icon img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
    color: #333;
    font-weight: 700;
  }

  p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }

  span {
    font-size: 14px;
    font-weight: 400;
    color: rgba(108, 117, 125, 1);
    line-height: 22px;
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .feature {
    height: auto;
    &-block {
      gap: 40px;
    }
  }
}
@media screen and (max-width: 636px) {
  .feature {
    height: auto;
    padding: 30px 16px;
    &-block {
      flex-direction: column;
      gap: 24px;
    }
    &-box {
      width: 100%;
      max-width: 320px;
    }
  }
}