.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1490px;
  height: 324px;
  background-color: rgba(255, 255, 255, 1);
  &-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    gap: 86px;
}
}


.feature-box {
 
  background: #fff;
  transition: transform 0.2s ease;
  
  // &:hover {
  //   transform: translateY(-5px);
  // }

  .icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  span {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
    display: block;
  }
}
